<% layout('layouts/Boilerplate') %>
    <div class="col-md-8 offset-md-2">
        <div id="map" style="width:100%; height:500px"></div>
    <h3 class="pt-3">All campgrounds</h3>
        <% for(let campground of campgrounds){ %>
            <div class="card mb-3 shadow">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=campground.images[0]&&campground.images[0].url%>" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 my-auto">
                        <h5 class="card-title"><%=campground.title%></h5>
                        <p class="card-text"><%=campground.description%></p>
                        <p class="card-text text-secondary">$<%=campground.price%></p>
                        <div>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-info mb-1">View <%=campground.title%></a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>


<script>
        const campgrounds = {features:<%-JSON.stringify(campgrounds)%>};
</script>
